<h2>Here we go, we're in the main view!</h2>

<h3>Is angular working? {{2+4}}</h3>

<input type="text" ng-model="mc.newTask.taskName">

<button ng-click= "mc.addTask(mc.newTask)">Create Task</button>

<h1>Tasks</h1>

<table>
   <thead>
       <tr>
           <th>Task</th>
           <th>Completed?</th>
       </tr>
   </thead>
   <tr ng-repeat="task in mc.tasks">
       <td>{{task.task_name}}</td>
       <td>{{task.complete}}</td>
   </tr>
</table>
<!-- <h4 ng-repeat="task in mc.tasks">{{task.task_name}}</h4> -->